@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
body {
    background: #f1f0ea;
    margin: 0;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
}
#clock-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 56px "Open Sans", sans-serif;
    color: #404040;
}