* {
  margin: 0;
  padding: 0;
}
body{
  padding: 100px;
  background-color: #eee;
}
.warp {
  width: 600px;
  height: 300px;
  position: relative;
}
.box {
  width: 600px;
  height: 300px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.box > div {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
}
#btn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #c3a;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}